@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
*{
    margin: 0%;
    padding: 0%;

}
header{
    width: 1440px;
    height: 23px;
    background-color: #1CD1B0;
}
.promo{
    padding-left: 15px;
    padding-top: 2px;
    font-family: 'Roboto', sans-serif;
}
.logo{
    width:1440px;
    height: 80px;
    background-color: #00669F;
    display: flex;
}
h1{
    padding-top: 20px;
    padding-left: 30px;
    color: white;
    font-family: 'roboto';
}
h2{
    padding: 5px;
    font-family:'roboto';
}
.login_senha{
    
    padding-left: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.login{
    padding: 5px;
}
.senha{
    padding: 5px
}
.entrar{
    margin: 5px;
    width: 175px;
    border-radius: 5px;
    background-color: #1CD1B0;
}
.nome{
    padding: 5px;
}
.email{
    padding: 5px;
}
.pais{
    padding: 5px;
}
.registro{
    
    padding-left: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer{
    width: 1440px;
    height: 61px;
    background-color: #00669F ;
    display: flex;
    align-items: center;
    padding-left: 450px;
}
.limpar{
    margin: 5px;
    width: 133px;
    border-radius: 5px;
    background-color: #1CD1B0;
}
.registrar{
    margin: 5px;
    width: 133px;
    border-radius: 5px;
    background-color: #1CD1B0;
}
p{
    padding-left: 50px;
    padding-top: 20px;
}